<div class="container">
    <div class="header">
        <h1 class="text-center display-4">{{title}}</h1>
    </div>
    <table class="grid">
        <tr class="row" *ngFor="let row of board;">
            <td class="box" *ngFor="let cell of row;">
                <div class="inner"></div>
            </td>
        </tr>
    </table>
</div>

<div class="buttons">
    <div class="d-flex justify-content-center align-items-end">
        <button class="btn btn-info btn-lg reset">Reset</button>
        <button class="btn btn-info btn-lg changeColors">Change Colors</button>
    </div>
</div>
